---
interface Props {
}

const {} = Astro.props;
---

<div class="mx-auto mt-32 max-w-7xl sm:mt-56 sm:px-6 lg:px-8">
    <div
            class="relative overflow-hidden bg-brand-pale px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
        <img class="absolute inset-0 h-full w-full object-cover"
             src="/assets/testimonial-bg.jpg"
             alt="CryptoMondays Zürich community background">
        <div class="absolute inset-0 bg-brand-navy/60 mix-blend-multiply"></div>
        <div class="relative mx-auto max-w-2xl lg:mx-0">
            <figure>
                <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
                    <p>“The heart of every great community lies in balance
                        where you give generously and receive even more in return.”</p>
                </blockquote>
                <figcaption class="mt-6 text-base text-white">
                    <div class="font-semibold">Lou Kerner</div>
                    <div class="mt-1">Founder of CryptoMondays Global</div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
